:root{
   --fundo: rgb(86, 136, 132);
   --cartao-frente:rgb(0, 89, 255);
   --cartao-verso:rgb(238, 255, 0);
   --branco: white;
   --preto: black;
   --destaque:rgb(82, 209, 150);
}
body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom:0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
#container{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}
.conteudo-cartao {
    background-color: var(--cartao-frente);}